<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.22" targetFramework="net45" />
  <package id="Microsoft.ApplicationBlocks.Data" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2015" version="12.0.2.2402" targetFramework="net45" />
</packages>